[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asteca = "*"
astropy = "*"
astropy-iers-data = "*"
astroquery = "*"
"backports.tarfile" = "*"
beautifulsoup4 = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
cloudpickle = "*"
contourpy = "*"
cryptography = "*"
cycler = "*"
dask = "*"
distributed = "*"
fast-histogram = "*"
fonttools = "*"
fsspec = "*"
gitdb = "*"
gitpython = "*"
greenlet = "*"
html5lib = "*"
idna = "*"
importlib-metadata = "*"
jabbar = "*"
"jaraco.classes" = "*"
"jaraco.context" = "*"
"jaraco.functools" = "*"
jeepney = "*"
jinja2 = "*"
joblib = "*"
keyring = "*"
kiwisolver = "*"
locket = "*"
markupsafe = "*"
matplotlib = "*"
more-itertools = "*"
msgpack = "*"
numpy = "*"
packaging = "*"
pandas = "*"
partd = "*"
pillow = "*"
pip = "*"
psutil = "*"
pyabc = "*"
pycparser = "*"
pyerfa = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
pyvo = "*"
pyyaml = "*"
redis = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
secretstorage = "*"
setuptools = "*"
six = "*"
smmap = "*"
sortedcontainers = "*"
soupsieve = "*"
sqlalchemy = "*"
tblib = "*"
threadpoolctl = "*"
toolz = "*"
tornado = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
webencodings = "*"
zict = "*"
zipp = "*"
